

<h1>User Login</h1>

<form action="/login" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username"></input>

    <label for="password">Password:</label>
    <input type="text" name="password"></input>
    <button type="submit">Submit</button>
</form>